table {
  width: 100%;
}
.search {
  text-align: center;
}
.filterinput {
  border: 1px solid;
  background: white;
  width: 80%;
  text-align: center;
  /* border-radius: 43px; */
  padding: 10px;
}
.page-item .page-link {
  border-radius: 100px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.selectedPage {
  background-color: #1890ff !important;
  color: white !important;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
}
.table {
  background-color: rgba(243, 245, 249, 255) !important;
  padding: 0% 10% 0% 10%;
}
.nav {
  text-align: center;
}
.delete {
  margin-top: 10px;
  border-radius: 100px;
  height: 30px;
  width: 141px;
  color: white;
  border: none;
  background-color: #ff5171;
  position: absolute;
  top: 0;
}
.selectedRow {
  background-color: #8080804a;
  color: white;
}
.footer {
  position: relative;
}
.disabled {
  background-color: #8080804a !important ;
  pointer-events: none;
}
