<div class="search">
  <input #filter class="filterinput" (keyup)="filterGridData(filter.value)" type="text"
    placeholder="Search by Name Email Role" />
   
</div>
<div class="table">
  <label>Total Records : {{totalRecords}}</label>
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox [checked]="allSelected" [indeterminate]="selectedRows.length > 0 && !allSelected"
          (change)="toggleAll()" class="example-margin"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggle(element)"
          [checked]="selectedRows.includes(element)" class="example-margin"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!element.edit">{{ element.name }}</span>
        <input ngModel *ngIf="element.edit" [(ngModel)]="element.name" type="text" />
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!element.edit">{{ element.email }}</span>
        <input ngModel *ngIf="element.edit" [(ngModel)]="element.email" type="text" />
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!element.edit">{{ element.role | uppercase }}</span>
        <select ngModel *ngIf="element.edit" [(ngModel)]="element.role">
          <option [value]="r" *ngFor="let r of roles">
            {{ r | uppercase }}
          </option>
        </select>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-icon title="Edit" *ngIf="!element.edit" (click)="element.edit = true">edit</mat-icon>
        <mat-icon title="Completed" *ngIf="element.edit == true" (click)="element.edit = false">done</mat-icon>
        <mat-icon title="Delete" (click)="delete(element)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="toggle(row)" [class.selectedRow]="selectedRows.includes(row)" mat-row
      *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data Found</td>
    </tr>
  </table>
  <div class="footer">
    <button class="delete" (click)="deleteMultiple()" *ngIf="selectedRows.length >= 1">
      Delete Selected
    </button>
    <nav class="nav" #paginator aria-label="Page navigation">

      <ul class="pagination">
        <li [class.disabled]="currentPage == 1" (click)="changePage(1)" class="page-item">
          <a title="First Page" class="page-link">
            <mat-icon>fast_rewind</mat-icon>
          </a>
        </li>
        <li [class.disabled]="currentPage == 1" (click)="changePage(currentPage - 1)" class="page-item">
          <a title="Previous Page" class="page-link">
            <mat-icon>skip_previous</mat-icon>
          </a>
        </li>
        <li class="page-item" (click)="changePage(page)" *ngFor="let page of returnArray();">
          <a [class.selectedPage]="page== currentPage" class="page-link">{{ page }}</a>
        </li>
        <li [class.disabled]="currentPage >= noOfPages" (click)="changePage(currentPage + 1)" class="page-item">
          <a title="Next Page" class="page-link">
            <mat-icon>skip_next</mat-icon>
          </a>
        </li>
        <li [class.disabled]="currentPage >= noOfPages" (click)="changePage(noOfPages)" class="page-item">
          <a title="Last Page" class="page-link">
            <mat-icon>fast_forward</mat-icon>
          </a>
        </li>
      </ul>
      
      <!-- Declared form to take input on click of Enter in input Field -->

      <form>
      <label for="page">Go to Page</label>
      <input [class.error]="+page.value>noOfPages" step="1" #page name="page" min=1 [max]="noOfPages" type="number">
      <label for="page">Total Pages : {{noOfPages}}</label>
      
      <button (click)="changePage(+page.value)" hidden=true></button>
    </form>
    </nav>
  </div>
</div>